<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_fduj8m3vzrtz9f6r.css">
    <!-- <link rel="stylesheet" href="muse-ui/dist/muse-ui.css"> -->

</head>

<body>
    <div id="root">

    </div>
    <script src="/dist/jquery.js"></script>
    <script src="/dist/vendors.js"></script>
    <script src="/dist/main.js"></script>

    <script>
        console.log( 'afafe' )
    </script>
    <!-- <script src="vue/dist/vue.min.js"></script>
    <script src="vue-router/dist/vue-router.min.js"></script> -->
    <!-- <script src="muse-ui/dist/muse-ui.js"></script> -->
</body>

</html>